<mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step>
                <ng-template matStepLabel>Fill out your personal details</ng-template>
                <mat-card>
                        <mat-card-content>
                                <form class="login-form" [formGroup]="userDetailsFormGroup">
                                        <mat-card-title>Create Account</mat-card-title>
                                        <p>
                                                <mat-form-field class="login-full-width" appearance="outline">
                                                        <mat-label color="primary">User Name</mat-label>
                                                        <input matInput formControlName="userName" [errorStateMatcher]="matcher"
                                                               placeholder="Ex. pat@login.com">
                                                        <mat-error *ngIf="userName.hasError('email') && !userName.hasError('required')">
                                                                Username should not be empty
                                                        </mat-error>
                                                </mat-form-field>
                                        </p>
                                        <p>
                                                <mat-form-field class="login-full-width" appearance="outline">
                                                        <mat-label color="primary">Password</mat-label>
                                                        <input matInput formControlName="password" [errorStateMatcher]="matcher" type="password">
                                                        <mat-error *ngIf="userName.hasError('required')">
                                                                Password is <strong>required</strong></mat-error>
                                                </mat-form-field>
                                        </p>
                                        <mat-label color="primary">Gender</mat-label>
                                        <p>
                                                <mat-radio-group color="primary" aria-label="Select an option" formControlName="gender" [ngModel] = "selectedGender">
                                                        <mat-radio-button *ngFor="let gender of genders" [value]="gender.value" [checked]="gender.checked">
                                                                {{gender.label}}
                                                        </mat-radio-button>
                                                </mat-radio-group>
                                        </p>
                                        <mat-label color="primary">Age</mat-label>
                                        <p>
                                                <mat-slider formControlName="age" color="primary" min="15" thumbLabel max="60" [value]="15" step="1"></mat-slider>
                                        </p>
                                        <div class="height">
                                                <mat-form-field class="login-full-width" appearance="outline">
                                                        <mat-label color="primary">Height (in feet)</mat-label>
                                                        <input matInput formControlName="height" [errorStateMatcher]="matcher"
                                                               placeholder="Feet" type="number">
                                                        <mat-error *ngIf="!heightFormControl.hasError('required')">
                                                                Please enter the height
                                                        </mat-error>
                                                        <mat-error *ngIf="heightFormControl.hasError('required')">
                                                                Height details is <strong>required</strong>
                                                        </mat-error>
                                                </mat-form-field>
                                        </div>
                                        <div class="weight">
                                                <mat-form-field class="login-full-width" appearance="outline">
                                                        <mat-label color="primary">Weight (in Kg)</mat-label>
                                                        <input matInput formControlName="weight" [errorStateMatcher]="matcher"
                                                               placeholder="Kg" type="number">
                                                        <mat-error *ngIf="!weightFormControl.hasError('required')">
                                                                Please enter a valid email address
                                                        </mat-error>
                                                        <mat-error *ngIf="weightFormControl.hasError('required')">
                                                                Weight details is <strong>required</strong>
                                                        </mat-error>
                                                </mat-form-field>
                                        </div>
                                        <button [disabled]="userDetailsFormGroup.untouched || userDetailsFormGroup.invalid" mat-button matStepperNext color="primary"> Next </button>
                                </form>


                        </mat-card-content>
                </mat-card>

        </mat-step>
        <mat-step>
                <ng-template matStepLabel>Set your daily goals</ng-template>
                <mat-card>
                        <mat-card-content>
                                <form class="login-form" [formGroup]="goalsFormGroup">
                                        <mat-card-title>Select goals</mat-card-title>
                                        <mat-selection-list formControlName="goals" [ngModel]="selectedGoals">
                                                <mat-list-option color="primary" *ngFor="let goal of goals" [value]="goal" >
                                                        {{goal.goals}}
                                                </mat-list-option>
                                        </mat-selection-list>
                                        <button [disabled]="goalsFormGroup.invalid || goalsFormGroup.untouched" color="primary" mat-button (click)="addGoals()">
                                                Signup
                                        </button>
                                </form>
                        </mat-card-content>
                </mat-card>

        </mat-step>
</mat-horizontal-stepper>
