<mat-card>
    <mat-card-content>
        <form class="login-form">
            <mat-card-title>Hey Kesavan, Please Add your daily goals</mat-card-title>
            <p>
                <mat-form-field class="login-full-width" appearance="outline">
                    <mat-label color="primary">Goals description</mat-label>
                    <input matInput [formControl]="nameFormControl"
                           placeholder="Walking daily">
                </mat-form-field>
            </p>
            <button [disabled]="!nameFormControl.valid" class="add-goals-button"mat-fab color="primary" (click)="addGoals($event)">
                <mat-icon>add</mat-icon>
            </button>
            <p><mat-label *ngIf="goals.length > 0"> Added goals : {{goals.length}}</mat-label></p>
            <mat-list>
                <mat-list-item *ngFor="let goal of goals">{{goal.name}}</mat-list-item>
            </mat-list>
            <button color="primary" mat-button (click)="addGoals($event)">
                Done
            </button>
        </form>
    </mat-card-content>
</mat-card>
